<html>
	<body>

		<p>
			Dear @Model.Email,
		</p>

		<p>
			The new post has been added to the blog of @Model.NickName. Please check it out. 
		</p>

		<p>
			Sincerely, our dev team!
		</p>

	</body>
</html>